

<kendo-grid [data]="gridData">
    <kendo-grid-column field="firstName" title="First Name"> </kendo-grid-column>
    <kendo-grid-column field="lastName" title="Last Name"> </kendo-grid-column>
    <kendo-grid-column field="email" title="Email"> </kendo-grid-column>
    <kendo-grid-column field="phoneNumber" title="Phone Number"> </kendo-grid-column>
</kendo-grid>